# Pandas

In [36]:
## Installing Of Pandas Library
!pip install pandas

In [16]:
## importing of Numpy and Pandas 
import numpy as np
import pandas as pd

In [17]:
lst = [1,2,3,4,5,6]
np.array(lst)

array([1, 2, 3, 4, 5, 6])

In [18]:
pd.Series(lst)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [21]:
pd.Series([lst,lst,lst])

0    [1, 2, 3, 4, 5, 6]
1    [1, 2, 3, 4, 5, 6]
2    [1, 2, 3, 4, 5, 6]
dtype: object

In [33]:
## Creating DataFrame

df = pd.DataFrame([lst,lst,lst,lst,lst], columns = ['A','B','C','D','E','F'])#, rows = ['R1','R2','R3'])

In [34]:
## Type of Data Frame
type(df)

pandas.core.frame.DataFrame

In [35]:
df

   A  B  C  D  E  F
0  1  2  3  4  5  6
1  1  2  3  4  5  6
2  1  2  3  4  5  6
3  1  2  3  4  5  6
4  1  2  3  4  5  6

In [30]:
## Deletting Dataframe
del df

In [31]:
df

NameError: name 'df' is not defined

In [ ]:
## Inbult
#pd.enter tab and get whole inbulit functions
pd.array() #enter shift + tab and get Documentation of function)